<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.prj.biz.dao.maindb.goodsclassification.GoodsClassificationDao">

    <resultMap id="goodsclassificationResult" type="com.prj.biz.bean.goodsclassification.GoodsClassification">
		<result property="id" column="id" />
		<result property="categoryName" column="category_name" />
		<result property="goodsNumber" column="goods_number" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,category_name,goods_number
	</sql>
		
	<sql id="query_where">
	    <where>
	        <if test="id!=null and id!='' "> 
	           AND ID = #{id} 
	       </if>
		    <if test="categoryName!=null and categoryName!='' ">
		        AND category_name = #{categoryName}
		    </if>
		    <if test="goodsNumber!=null and goodsNumber!='' ">
		        AND goods_number = #{goodsNumber}
		    </if>
	    </where>
	</sql>
	
	
	<select id="selectById" resultMap="goodsclassificationResult" parameterType="java.lang.String">
		select
			<include refid="Base_Column_List" /> 
		from 
			 XA_GOODS_CLASSIFICATION 
		where 
			ID = #{id}
	</select>
	
	<select id="selectList" resultMap="goodsclassificationResult" parameterType="com.prj.biz.bean.goodsclassification.GoodsClassification" >
		select
			<include refid="Base_Column_List" />
		from 
			 XA_GOODS_CLASSIFICATION 
		<include refid="query_where" /> 
		<include refid="maindb-pagination.mysql_page" /> 
	</select>
	
	<select id="selectTotal" resultType="Integer" parameterType="com.prj.biz.bean.goodsclassification.GoodsClassification">
		select
		    count(ID)
		from 
			 XA_GOODS_CLASSIFICATION 
		<include refid="query_where" />  
	</select>
	
	<insert id="insert" parameterType="com.prj.biz.bean.goodsclassification.GoodsClassification">
		<selectKey order="BEFORE" keyProperty="id" resultType="java.lang.String">
        <![CDATA[ 
           select upper(replace(uuid(),'-','')) from dual 
       	]]> 
       	</selectKey>
       	INSERT INTO XA_GOODS_CLASSIFICATION 
			(id,category_name,goods_number)
		VALUES 
			(#{id},#{categoryName},#{goodsNumber})
    </insert> 
    
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO XA_GOODS_CLASSIFICATION 
			(id,category_name,goods_number)
		VALUES 
		<foreach collection="list" item="item" index="index" separator="," >
			(<![CDATA[ upper(replace(uuid(),'-',''))]]>,#{categoryName},#{goodsNumber})
		</foreach>
	</insert>
	
    <update id="updateById" parameterType="com.prj.biz.bean.goodsclassification.GoodsClassification">
     UPDATE XA_GOODS_CLASSIFICATION
	     <set>
			<if test="id!=null and id!='' ">
				id = #{id},
			</if>
			<if test="categoryName!=null and categoryName!='' ">
				category_name = #{categoryName},
			</if>
			<if test="goodsNumber!=null and goodsNumber!='' ">
				goods_number = #{goodsNumber},
			</if>
		</set>
		    where 
	            ID = #{id}
    </update>

    <update id="updateBatchById" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
	        UPDATE  XA_GOODS_CLASSIFICATION
	    <set>
			<if test="id!=null and id!='' ">
				id = #{id},
			</if>
			<if test="categoryName!=null and categoryName!='' ">
				category_name = #{categoryName},
			</if>
			<if test="goodsNumber!=null and goodsNumber!='' ">
				goods_number = #{goodsNumber},
			</if>
    	</set>
		    where 
			    ID = #{id}
		</foreach>
	</update>

    <delete id="deleteById" parameterType="java.lang.String">
         DELETE FROM XA_GOODS_CLASSIFICATION WHERE ID = #{id}
    </delete>
     
	<delete id="deleteByIds" parameterType="java.util.List">
	    delete from 
			XA_GOODS_CLASSIFICATION
		where 
			ID IN  
		<foreach collection="list" item="id" open="(" separator="," close=")">
		    #{id}  
        </foreach>  
	</delete>
	
</mapper>
