<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.prj.biz.dao.maindb.historyseacher.HistorySeacherDao">

    <resultMap id="historyseacherResult" type="com.prj.biz.bean.historyseacher.HistorySeacher">
		<result property="id" column="id" />
		<result property="seachContext" column="seach_context" />
		<result property="seachDate" column="seach_date" />
		<result property="deviceNumber" column="device_number" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,seach_context,seach_date,device_number
	</sql>
		
	<sql id="query_where">
	    <where>
	        <if test="id!=null and id!='' "> 
	           AND ID = #{id} 
	       </if>
		    <if test="seachContext!=null and seachContext!='' ">
		        AND seach_context = #{seachContext}
		    </if>
		    <if test="keySeach!=null and keySeach!='' ">
		        AND seach_context like concat('%',#{keySeach},'%')
		    </if>
		    <if test="seachDate!=null and seachDate!='' ">
		        AND seach_date = #{seachDate}
		    </if>
		    <if test="deviceNumber!=null and deviceNumber!='' ">
		        AND device_number = #{deviceNumber}
		    </if>
	    </where>
	</sql>
	
	
	<select id="selectById" resultMap="historyseacherResult" parameterType="java.lang.String">
		select
			<include refid="Base_Column_List" /> 
		from 
			 XA_HISTORY_SEACHER 
		where 
			ID = #{id}
	</select>
	
	<select id="selectList" resultMap="historyseacherResult" parameterType="com.prj.biz.bean.historyseacher.HistorySeacher" >
		select
			<include refid="Base_Column_List" />
		from 
			 XA_HISTORY_SEACHER 
		<include refid="query_where" /> 
		<include refid="maindb-pagination.mysql_page" /> 
	</select>
	
	<select id="selectTotal" resultType="Integer" parameterType="com.prj.biz.bean.historyseacher.HistorySeacher">
		select
		    count(ID)
		from 
			 XA_HISTORY_SEACHER 
		<include refid="query_where" />  
	</select>
	
	<insert id="insert" parameterType="com.prj.biz.bean.historyseacher.HistorySeacher">
		<selectKey order="BEFORE" keyProperty="id" resultType="java.lang.String">
        <![CDATA[ 
           select upper(replace(uuid(),'-','')) from dual 
       	]]> 
       	</selectKey>
       	INSERT INTO XA_HISTORY_SEACHER 
			(id,seach_context,seach_date,device_number)
		VALUES 
			(#{id},#{seachContext},#{seachDate},#{deviceNumber})
    </insert> 
    
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO XA_HISTORY_SEACHER 
			(id,seach_context,seach_date,device_number)
		VALUES 
		<foreach collection="list" item="item" index="index" separator="," >
			(<![CDATA[ upper(replace(uuid(),'-',''))]]>,#{seachContext},#{seachDate},#{deviceNumber})
		</foreach>
	</insert>
	
    <update id="updateById" parameterType="com.prj.biz.bean.historyseacher.HistorySeacher">
     UPDATE XA_HISTORY_SEACHER
	     <set>
			<if test="id!=null and id!='' ">
				id = #{id},
			</if>
			<if test="seachContext!=null and seachContext!='' ">
				seach_context = #{seachContext},
			</if>
			<if test="seachDate!=null and seachDate!='' ">
				seach_date = #{seachDate},
			</if>
			<if test="deviceNumber!=null and deviceNumber!='' ">
				device_number = #{deviceNumber},
			</if>
		</set>
		    where 
	            ID = #{id}
    </update>

    <update id="updateBatchById" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
	        UPDATE  XA_HISTORY_SEACHER
	    <set>
			<if test="id!=null and id!='' ">
				id = #{id},
			</if>
			<if test="seachContext!=null and seachContext!='' ">
				seach_context = #{seachContext},
			</if>
			<if test="seachDate!=null and seachDate!='' ">
				seach_date = #{seachDate},
			</if>
			<if test="deviceNumber!=null and deviceNumber!='' ">
				device_number = #{deviceNumber},
			</if>
    	</set>
		    where 
			    ID = #{id}
		</foreach>
	</update>

    <delete id="deleteById" parameterType="java.lang.String">
         DELETE FROM XA_HISTORY_SEACHER WHERE ID = #{id}
    </delete>
     
	<delete id="deleteByIds" parameterType="java.util.List">
	    delete from 
			XA_HISTORY_SEACHER
		where 
			ID IN  
		<foreach collection="list" item="id" open="(" separator="," close=")">
		    #{id}  
        </foreach>  
	</delete>
	
</mapper>
