<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.prj.biz.dao.maindb.payrecord.PayRecordDao">

    <resultMap id="payrecordResult" type="com.prj.biz.bean.payrecord.PayRecord">
		<result property="businessid" column="businessId" />
		<result property="businessType" column="business_type" />
		<result property="account" column="account" />
		<result property="id" column="id" />
		<result property="orderno" column="orderno" />
	</resultMap>
	
	<sql id="Base_Column_List">
		businessId,business_type,account,id,orderno
	</sql>
		
	<sql id="query_where">
	    <where>
		    <if test="businessid!=null and businessid!='' ">
		        AND businessId = #{businessid}
		    </if>
		    <if test="businessType!=null and businessType!='' ">
		        AND business_type = #{businessType}
		    </if>
		    <if test="account!=null and account!='' ">
		        AND account = #{account}
		    </if>
	        <if test="id!=null and id!='' "> 
	           AND ID = #{id} 
	       </if>
		    <if test="orderno!=null and orderno!='' ">
		        AND orderno = #{orderno}
		    </if>
	    </where>
	</sql>
	
	
	<select id="selectById" resultMap="payrecordResult" parameterType="java.lang.String">
		select
			<include refid="Base_Column_List" /> 
		from 
			 XA_PAY_RECORD 
		where 
			ID = #{id}
	</select>
	
	<select id="selectList" resultMap="payrecordResult" parameterType="com.prj.biz.bean.payrecord.PayRecord" >
		select
			<include refid="Base_Column_List" />
		from 
			 XA_PAY_RECORD 
		<include refid="query_where" /> 
		<include refid="maindb-pagination.mysql_page" /> 
	</select>
	
	<select id="selectTotal" resultType="Integer" parameterType="com.prj.biz.bean.payrecord.PayRecord">
		select
		    count(ID)
		from 
			 XA_PAY_RECORD 
		<include refid="query_where" />  
	</select>
	
	<insert id="insert" parameterType="com.prj.biz.bean.payrecord.PayRecord">
		<selectKey order="BEFORE" keyProperty="id" resultType="java.lang.String">
        <![CDATA[ 
           select upper(replace(uuid(),'-','')) from dual 
       	]]> 
       	</selectKey>
       	INSERT INTO XA_PAY_RECORD 
			(businessId,business_type,account,id,orderno)
		VALUES 
			(#{businessid},#{businessType},#{account},#{id},#{orderno})
    </insert> 
    
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO XA_PAY_RECORD 
			(businessId,business_type,account,id,orderno)
		VALUES 
		<foreach collection="list" item="item" index="index" separator="," >
			(#{businessid},#{businessType},#{account},<![CDATA[ upper(replace(uuid(),'-',''))]]>,#{orderno})
		</foreach>
	</insert>
	
    <update id="updateById" parameterType="com.prj.biz.bean.payrecord.PayRecord">
     UPDATE XA_PAY_RECORD
	     <set>
			<if test="businessid!=null and businessid!='' ">
				businessId = #{businessid},
			</if>
			<if test="businessType!=null and businessType!='' ">
				business_type = #{businessType},
			</if>
			<if test="account!=null and account!='' ">
				account = #{account},
			</if>
			<if test="id!=null and id!='' ">
				id = #{id},
			</if>
			<if test="orderno!=null and orderno!='' ">
				orderno = #{orderno},
			</if>
		</set>
		    where 
	            ID = #{id}
    </update>

    <update id="updateBatchById" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
	        UPDATE  XA_PAY_RECORD
	    <set>
			<if test="businessid!=null and businessid!='' ">
				businessId = #{businessid},
			</if>
			<if test="businessType!=null and businessType!='' ">
				business_type = #{businessType},
			</if>
			<if test="account!=null and account!='' ">
				account = #{account},
			</if>
			<if test="id!=null and id!='' ">
				id = #{id},
			</if>
			<if test="orderno!=null and orderno!='' ">
				orderno = #{orderno},
			</if>
    	</set>
		    where 
			    ID = #{id}
		</foreach>
	</update>

    <delete id="deleteById" parameterType="java.lang.String">
         DELETE FROM XA_PAY_RECORD WHERE ID = #{id}
    </delete>
     
	<delete id="deleteByIds" parameterType="java.util.List">
	    delete from 
			XA_PAY_RECORD
		where 
			ID IN  
		<foreach collection="list" item="id" open="(" separator="," close=")">
		    #{id}  
        </foreach>  
	</delete>
	
</mapper>
